@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*font-family: 'Poppins', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header start*/
header{
    width: 100%;
    background: #daac00;
    padding: 20px 0;
}
.navbar-nav{
    margin: 0 auto;
}
header .nav-item{
    margin-left: 20px;
}
header .nav-link{
    color: white !important;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
header form{
    margin-left: auto;
}
.form-header .form-control{
    width: 150px;
    background:#fcc302 ;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #fcc302;
}
.form-header .form-control:focus{
    background: white;
}
.form-header .form-control::placeholder{
    color: white;
}
form{
    box-shadow: 4px 8px 13px 1px rgba(0,0,0,.4);
}
.form-control:focus{
    outline: none !important;
    box-shadow: none !important;
    border: none;
}
.input-group>.input-group-append>.input-group-text{
    background: #00bec9 ;
    color: white;
    border: none;
    padding: 0 18px;
}
/*header end*/

/*banner start*/
.banner{
    width: 100%;
    background: #fcc302;
    padding: 80px 0;
    
}
.left-banner{
    display: flex;
    align-items: center;
}
.banner-txt h1{
    font-size: 66px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.banner-txt p{
    margin: 30px 0;
    padding-right: 60px;
    font-size: 24px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.banner-btn .btn-1{
    padding: 10px 25px;
    border: none;
    border: 1px solid #00bec9;
    background: #00bec9;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
}
.banner-btn .btn-2{
    margin-left: 20px;
    padding: 10px 25px;
    border: none;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
}
/*banner end*/

/*video-1 start*/
.video-1{
    width: 100%;
    margin: 50px 0;
    padding: 60px 0;
}
.left-video{
    display: flex;
    align-items: center;
}
.video-txt h1{
    font-size: 45px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.video-txt p{
    margin: 30px 0;
    padding-right: 60px;
    font-size: 25px;
    color: #5a5a66;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
}
.video-txt button{
    padding: 10px 25px;
    border: none;
    border: 1px solid #fcc302;
    background: #fcc302;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
   
}
.video-image{
    position: relative;
}
.video-shadow{
    position: absolute;
    background: rgba(252, 194, 3,0.4);
    top: 0;
    left: 0;
    right: 35px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-image i{
    font-size: 30px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
    color: #daac00;
}
.bg-overlay{
    position: absolute;
    background: #fcc302;
    width: 300px;
    height: 230px;
    bottom: -30px;
    left: -18px;
    z-index: -1;
}

/*video-1 end*/

/*service start*/
.service{
    width: 100%;
    background: #fcc302;
    margin: 50px 0;
    padding: 50px 0;
}
.service-txt-1{
    padding-bottom: 40px;
}
.service-txt-1 h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 70px;
}
.service-txt-1 p{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 25px;
    padding: 0 225px;
}
.item{
    padding: 21px;
}
.item h4{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 34px;
    font-weight: 600;
    padding: 30px 0;
    margin-bottom: 0;
}
.item p{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

/*service end*/

/*video-2 start*/
.video-2 {
    width: 100%;
    margin: 50px 0;
    padding: 50px 0;
}
.right-txt{
    display: flex;
    align-items: center;
}
.video-2 .col-md-6 .video-txt{
    text-align: right !important;
   
}
.video-2 .col-md-6 .video-txt p{
    padding-right: 0 !important;
   font-size: 25px !important;
}
.video-2 .video-section .bg-overlay{
    left: 44%;
}
   
/*video-2 end*/

/*PRICE start*/
.price{
    width: 100%;
    background: #fcc302;
    padding: 50px 0;
    margin: 50px 0;
}

.price-content .span{
    padding: 20px 0;
} 
.price-content span{
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 0 10px;
}
.price-content .price-btn{
    padding: 10px 30px;
    border: none;
    border: 1px solid #00bec9;
    outline: none;
    background: #00bec9;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
/*PRICE end*/

/*team start*/
.team{
    width: 100%;
    padding: 50px 0;
    margin: 50px 0;
}
.team .service-txt-1 h1{
    color: black !important;
}
.team .service-txt-1 p{
    color: black !important;
    padding: 15px 160px !important;
}
.team-txt{
    padding: 15px;
}
.team-txt h4{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 15px 0;
}
.team-txt p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    font-size: 18px;  
}
.team-txt ul li{
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}
.team-txt ul li i{
    width: 40px;
    height: 40px;
    background: #daac00;
    line-height: 40px;
    border-radius: 100%;
    color: white;
    font-size: 20px;
}
/*team end*/

/*counter start*/
.counter{
    width: 100%;
    background: url(../img/dog-care.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    position: relative;
}
.counter .counter-overlay{
    
    position: absolute;
    background: rgba(252, 194, 3,0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.counter-row{
    padding: 0 115px;
}
.counter-txt h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    color: white;
    font-size: 40px;
    margin-top: 30px;
}
.counter-txt p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    color: white;
    font-size: 40px;
}
/*counter end*/

/*recent post start*/
.recent{
    width: 100%;
    padding: 60px 0;
}
.recent .service-txt-1 h1{
    color: black !important;
}
.recent .service-txt-1 p{
    color: black !important;
    padding: 15px 160px !important;
}
.card-content .card{
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0px 0px 5px -1px;
}
.card .card-header{
    padding: 0;
}
.card .card-body{
    padding: 32px;
}
.card .card-body h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}
.card .card-body h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    color: #00bec9;
    font-size: 16px;
    margin: 10px 0;
}
.card .card-body p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
}

/*recent post end*/

/*footer start*/
footer{
    width: 100%;
    background: #343434;
    padding: 50px 0;
}
footer h3{
    margin-bottom: 20px;
}
footer ul li{
    padding-bottom: 10px;
}
footer .col-md-3 ul li{
    list-style: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
footer .col-md-6{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: right;
}
footer .col-md-6 form{
    width: 500px;  
    margin-left: auto;
}

.form-footer .form-control{
    padding: 30px;
    background: #daac00;
    border: 1px solid #daac00 !important;
}
.form-footer .form-control:focus{
    background: white;
}
footer .input-group>.input-group-append>.input-group-text{
    padding: 0 30px ;
}
.footer-icon{
    padding: 20px 0;
}
.footer-icon ul li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
.footer-icon ul li i{
    width: 40px;
    height: 40px;
    background: white;
    color: black;
    font-size: 25px;
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    
}
/*footer end*/
